.bot_container {
  width: 300px;
  height: 480px;
  margin: 0 auto;
  border: 1px solid purple;
}

.bot {
  background: url(img/face.png) no-repeat 0 0 transparent;
  height: 300px;
  width: 300px;
  position: relative;
  top: 0;
  -webkit-animation: bot_float ease 2s infinite;
}

@-webkit-keyframes bot_float {
  50% { top: 100px;}
  100% { top: 10px;}
}

.shadow {
  position: relative;
  height: 16px;
  background: #999;
  opacity: 0.1;
  border-radius: 100%;
  margin: 0;
  top: 100px;
  margin: 0 auto;
  -webkit-animation: shadow_float ease 2s infinite;
}

@-webkit-keyframes shadow_float {
  50% { margin: 0 20%; opacity: 0.7;}
  100% { margin: 0; opacity: 0.1;}
}